<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    h2{text-align:center;background-color:MediumSeaGreen;}
        form{color:dark black;font-size:20px;text-align:center;padding:50px; background-image: url("https://i.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I");  background-size: 100% 100%; background-position: center;}
        input[type="submit"] {background-color:orange;font-size:15px;webkit-appearance: none;moz-appearance:none;appearance:none;padding: 4px;height: 4em;width: 8em;}
    </style>
</head>
<body style="border: 10px solid black;">
<h2>REGISTRATION FORM</h2>
<form action="" method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter your username"><br><br>
     <label>FirstName</label>
    <input type="text" name="first_name" placeholder="Enter your first name"><br><br>
     <label>LastName</label>
    <input type="text" name="last_name" placeholder="Enter your last name"><br><br>
    <label>Email</label>
    <input type="email" name="email" placeholder="Enter your email"><br><br>
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <label>Confirm Password</label>
    <input type="password" name="password1" placeholder="Confirm your password"><br><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>